music
.venv
src/Python_API/__pycache__
info*
db.json
Music_Together.spec
build
dist
cookies.txt
music_together.sqlite3
test_lambda_task.py
test_lambda.py
test_ws.py
Music_Together_Debug.spec
ARCHITECTURE.md
.env
.vscode